html{
  font-size: 16px;
}

body,html{
  width: 960px;
  margin: 0 auto;
  font-family: serif;
}

.task_value{
  height: 1.5rem;
}

.task_submit{
  height: 2rem;
}

.task_heading{
  position: relative;
  /* padding-bottom: 50px; */
}

.task_name{
  /* position: absolute; */
  padding-left:1rem;
  margin-right: 100px;
  font-weight: bold;
}
.task_date{
  /* position: absolute; */
  margin-right: 100px;
  font-weight: bold;
}

#table{
  background-color: #f5fffa;
  border: 1px solid #afeeee;
  width: 60%;
  border-radius: 1rem;
  margin-top: 2rem;
  padding-bottom: 10px;
}

h2{
  font-style: 1.2rem;
  padding: 1rem;
}

li{
  margin: 2rem 2rem 2rem 0;
  display: flex;
  justify-content: space-between;
}